.back{
    background-image:url("https://images.pexels.com/photos/5673488/pexels-photo-5673488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height:100vh;
    flex-wrap: wrap;
}
.c1{
    height:100vh;
    width:550px;
    background-color:white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    
}

.inputs{
    width:320px;
    
}
.heading{
    color:black;
    font-size:30px;
    padding-left:150px;
    
}
.login-form-margin {
    margin-bottom: 16px;
    
  }
  .login-form-forgot {
    float: right;
  }
  .box{
    height:400px;
    width: 360px;;
  }
  nz-form-label{
    margin-bottom:-10px;
  }
  form{
    margin-left:auto;
    margin-right: auto;
  }
  nz-form-label::after{
    display: inline-block;
    margin-left: -7px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: '*';
}