<div class="ds-card grid">
    <dx-data-grid class="p-8 flow" id="gridContainer" [wordWrapEnabled]="true" [dataSource]="inventory_info"
        [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
        style="width:100%" (onToolbarPreparing)="(permissions.insrt_in==1)?onToolbarPreparing($event):false">
        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
        <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[5,10, 25, 50, 100]"
            [showInfo]="true"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-column-chooser [enabled]="true" mode="select">
        </dxo-column-chooser>
        <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"
            fileName="Change Log"></dxo-export>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column *ngFor="let f of columnDefs" [visible]="true" [dataField]="f.field"
            [caption]="f.headerName" [alignment]="f.alignment" [width]="175" [allowResizing]="false">
        </dxi-column>
        <dxi-column [showInColumnChooser]="false" [visible]="(permissions.updt_in==1)?true:false" type="buttons"
            [width]="100" cellTemplate="viewTemplate">
            <div *dxTemplate="let data of 'viewTemplate'">
                <div class="tblEdtBtn" (click)="edit('edit',data.data)">
                    Edit Inventory
                </div>
            </div>
        </dxi-column>
        <dxi-column [showInColumnChooser]="false" type="button1" [width]="100" cellTemplate="EditTemplate">
            <div *dxTemplate="let data of 'EditTemplate'" (click)="edit('view',data.data)">
                <div class="cursor-pointer tblEdtBtn">
                    View Inventory
                </div>
            </div>
        </dxi-column>
    </dx-data-grid>
</div>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
  [nzClosable]="false"
  [nzCloseIcon]="icon"
  [nzExtra]="icon"
  
>
  <ng-template #icon>
    <i (click)="close()" class="fa-solid fa-circle-xmark"></i>
  </ng-template>
  <form
    nz-form
    *nzDrawerContent
    [formGroup]="inventoryForm"
    class="drawer-form"
  >
    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required">Item Name</nz-form-label>
        <nz-form-control nz-col nzSpan="10" [nzErrorTip]="inventoryErrorTip">
          <input
            nz-input
            formControlName="item_name"
            type="text"
            nz-input
            placeholder="Please Enter Item Name"
          />
          <ng-template #inventoryErrorTip let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please enter item name</ng-container
            >
            <ng-container *ngIf="control.hasError('minlength')"
              >Please enter atleast 3 characters<br
            /></ng-container>
            <ng-container *ngIf="control.hasError('maxlength')"
              >Maximum length exceeded<br
            /></ng-container>
            <ng-container *ngIf="control.hasError('pattern')"
              >Please enter valid input</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required">Quantity</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Enter Quantity">
          <input
            nz-input
            formControlName="quantity"
            type="number"
            nz-input
            placeholder="please enter Quantity"
          />
        </nz-form-control>
      </nz-form-item>
    </div> -->

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required">UOM</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Select UOM">
          <nz-select formControlName="uom_id" nzPlaceHolder="UOM" nzShowSearch>
            <nz-option *ngFor="let u of uomData" nzValue="{{ u.uom_id}}"
              nzLabel="{{ u.uom_name }}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required">Price</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Enter Price">
          <input
            nz-input
            formControlName="price"
            type="number"
            nz-input
            placeholder="please enter Price"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required">Tax</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Enter Tax">
          <input
            nz-input
            formControlName="tax"
            type="number"
            nz-input
            placeholder="please enter Tax"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onSubmit()">
        Submit
      </button>
      <button nz-button *ngIf="!submit && updateBtnDisable" nzType="primary" (click)="onUpdate()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>