<perfect-scrollbar class="side-nav" sideNav>

    <ul  nz-menu nzMode="inline" [nzInlineCollapsed]="isFolded" [nzTheme]="isSideNavDark ? 'dark' : 'light'">
        <ng-container *ngFor="let item of menuItems2">
            <li *ngIf="item.children.length == 0" nz-menu-item
                nz-tooltip
                nzTooltipPlacement="right"
                [nzTooltipTitle]="isFolded ? item.mnu_itm_nm : ''"
                [routerLink]="item.mnu_itm_url_tx">
                <span nz-icon [nzType]="item.mnu_itm_icn_tx"></span>
                <span>{{item.mnu_itm_nm}}</span>
            </li>


            <li  *ngIf="item.children.length > 0" 
                nz-submenu [nzTitle]="item.prnt_mnu_itm_nm" 
                [nzIcon]="item.prnt_mnu_icn_tx">
                <ul>
                    <li nz-menu-item *ngFor="let subItem of item.children"
                        [routerLink]="subItem.mnu_itm_url_tx">
                        {{subItem.mnu_itm_nm}}
                    </li>
                </ul>
            </li>
        </ng-container>


      </ul>

</perfect-scrollbar>    