<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nz-row nzGutter="16">
    <!-- <nz-form-item nz-col nzSpan="6">
        <nz-form-label >Date Range</nz-form-label>
        <nz-form-control>
          <nz-range-picker formControlName="rangePicker" ></nz-range-picker>
        </nz-form-control>
      </nz-form-item> -->
    <nz-form-item nz-col nzSpan="6" class="ml-3">
        <nz-form-label >Type</nz-form-label> 
        <nz-form-control>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Type" formControlName="type">
            <nz-option nzValue="tenders" nzLabel="Tenders"></nz-option>
            <nz-option nzValue="invoices" nzLabel="Invoices"></nz-option>
          </nz-select>
        </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item nz-col nzSpan="6" class="ml-3">
        <nz-form-label >Status</nz-form-label> 
        <nz-form-control>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Type" formControlName="status">
            <nz-option nzValue="Active" nzLabel="Active"></nz-option>
            <nz-option nzValue="InActive" nzLabel="InActive"></nz-option>
          </nz-select>
        </nz-form-control>
    </nz-form-item> -->
    <nz-form-item nz-col nzSpan="6" class="ml-3">
      <nz-form-label>Status</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="status"  nzPlaceHolder="Select Status" nzShowSearch nzAllowClear>
          <nz-option nzValue="open" nzLabel="Open"></nz-option>
          <nz-option nzValue="close" nzLabel="Close"></nz-option>
          <nz-option nzValue="accept" nzLabel="Accept"></nz-option>
          <nz-option nzValue="reject" nzLabel="Reject"></nz-option>
        </nz-select>
      </nz-form-control>          
    </nz-form-item>
    <button nz-button nzType="primary" nz-col nzSpan="2" class="ml-2"><span nz-icon nzType="search" nzTheme="outline"></span>Search</button>        
</form>
<div class="ds-card grid">
    <dx-data-grid class="p-8 flow" id="gridContainer" [wordWrapEnabled]="true" [dataSource]="tendersData"
        [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
        style="width:100%" (onToolbarPreparing)="(permissions.insrt_in==1)?onToolbarPreparing($event):false">
        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
        <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[5,10, 25, 50, 100]"
            [showInfo]="true"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-column-chooser [enabled]="true" mode="select">
        </dxo-column-chooser>
        <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"
            fileName="Change Log"></dxo-export>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column *ngFor="let f of columnDefs" [visible]="true" [dataField]="f.field"
            [caption]="f.headerName" [alignment]="f.alignment" [width]="175" [allowResizing]="false">
        </dxi-column>
        <dxi-column [showInColumnChooser]="false" [visible]="(permissions.updt_in==1)?true:false" type="buttons"
            [width]="100" cellTemplate="viewTemplate">
            <!-- <div *dxTemplate="let data of 'viewTemplate'">
                <div class="tblEdtBtn" (click)="edit('edit',data.data)">
                    Edit Inventory
                </div>
            </div> -->
        </dxi-column>
        <dxi-column [showInColumnChooser]="false" type="button1" [width]="100" cellTemplate="EditTemplate">
            <!-- <div *dxTemplate="let data of 'EditTemplate'" (click)="edit('view',data.data)">
                <div class="cursor-pointer tblEdtBtn">
                    View Inventory
                </div>
            </div> -->
        </dxi-column>
    </dx-data-grid>
</div>
