<div class="ds-card grid">
    <dx-data-grid class="p-8 flow" id="gridContainer" [wordWrapEnabled]="true" [dataSource]="users"
        [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
        style="width:100%" (onToolbarPreparing)="(permissions.insrt_in==1)?onToolbarPreparing($event):false">
        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
        <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[5,10, 25, 50, 100]"
            [showInfo]="true"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-column-chooser [enabled]="true" mode="select">
        </dxo-column-chooser>
        <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"
            fileName="Change Log"></dxo-export>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column *ngFor="let f of columnDefs" [visible]="true" [dataField]="f.field"
            [caption]="f.headerName" [alignment]="f.alignment" [width]="175" [allowResizing]="false">
        </dxi-column>
        <dxi-column [showInColumnChooser]="false" [visible]="(permissions.updt_in==1)?true:false" type="buttons"
            [width]="100" cellTemplate="viewTemplate">
            <div *dxTemplate="let data of 'viewTemplate'">
                <div class="tblEdtBtn" (click)="edit('data',data.data)">
                    Edit Tender
                </div>
            </div>
        </dxi-column>
        <dxi-column [showInColumnChooser]="false" type="button1" [width]="100" cellTemplate="EditTemplate">
            <div *dxTemplate="let data of 'EditTemplate'" (click)="edit('view',data.data)">
                <div class="cursor-pointer tblEdtBtn">
                    View Tender
                </div>
            </div>
        </dxi-column>
    </dx-data-grid>
</div>
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible"
  [nzFooter]="footerTpl" [nzTitle]="drawerTitle" (nzOnClose)="close()" [nzClosable]="false" [nzCloseIcon]="icon"
  [nzExtra]="icon" [nzMaskClosable]="true">
  <ng-template #icon>
    <i (click)="close()" class="fa-solid fa-circle-xmark"></i>
  </ng-template>
  <form nz-form *nzDrawerContent [formGroup]="createUserForm">
    <ng-container>
      <div>
        <div>
          <form nz-form [formGroup]="createUserForm" nz-row>
            <nz-form-item nz-col nzSpan="12">
              <nz-form-label class="required">First Name</nz-form-label>
              <nz-form-control [nzErrorTip]="firstNameErrTip" class="create">
                <input type="text" nz-input formControlName="first_name" placeholder="First Name" />
                <ng-template #firstNameErrTip let-control>
                  <ng-container *ngIf="control.hasError('required')">Please enter first name</ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">Please enter atleast 3
                    characters<br /></ng-container>
                  <ng-container *ngIf="control.hasError('maxlength')">Maxlength exceeded<br /></ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">Please enter valid First Name<br /></ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12" *ngIf="userRole ==='vendor'"></nz-form-item>
            <nz-form-item nz-col nzSpan="12" *ngIf="userRole !=='vendor'">
              <nz-form-label class="required">Last Name</nz-form-label>
              <nz-form-control [nzErrorTip]="lastNameErrTip" class="create">
                <input type="text" nz-input formControlName="last_name" placeholder="Last Name" />
                <ng-template #lastNameErrTip let-control>
                  <ng-container *ngIf="control.hasError('required')">Please enter Last Name</ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">Please enter atleast 3 characters<br /></ng-container>
                  <ng-container *ngIf="control.hasError('maxlength')">Maxlength exceeded<br /></ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">Please enter valid Last Name<br /></ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12">
              <nz-form-label class="required">Email</nz-form-label>
              <nz-form-control [nzErrorTip]="emailErrorTip" class="create">
                <input type="text" nz-input formControlName="email" placeholder="Email" />
                <ng-template #emailErrorTip let-control>
                  <ng-container *ngIf="control.hasError('required')">Please enter email</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">Please enter valid email<br /></ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12">
              <nz-form-label class="required">User Name</nz-form-label>
              <nz-form-control [nzErrorTip]="userNameErrorTip" class="create">
                <input type="text" nz-input formControlName="user_name" placeholder="User name" />
                <ng-template #userNameErrorTip let-control>
                  <ng-container *ngIf="control.hasError('required')">Please enter user name</ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">Please enter atleast 5 characters<br /></ng-container>
                  <ng-container *ngIf="control.hasError('maxlength')">Maxlength exceeded<br /></ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">Please enter valid UserName<br /></ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12">
              <nz-form-label class="required">Password</nz-form-label>
              <nz-form-control nzErrorTip="Please input your Password!" class="create">
                <input type="password" nz-input formControlName="password_md5" placeholder="Password"
                  autocomplete="new-password" (ngModelChange)="validateConfirmPassword()" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12">
              <nz-form-label class="required">Confirm Password</nz-form-label>
              <nz-form-control class="create" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                <input type="password" nz-input formControlName="cnfrm_password_md5" placeholder="Re-enter Password" />
                <ng-template #passwordErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
                  <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12">
              <nz-form-label class="required">Mobile Number</nz-form-label>
              <nz-form-control [nzErrorTip]="mobileErrorTip" class="create">
                <input type="text" nz-input formControlName="phone_number" placeholder="Mobile Number" />
                <ng-template #mobileErrorTip let-control>
                  <ng-container *ngIf="control.hasError('required')">Please enter mobile number</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">Please enter valid MobileNumber<br /></ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">Minlength is 10<br /></ng-container>
                  <ng-container *ngIf="control.hasError('maxlength')">Maxlength is 10<br /></ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12" *ngIf="userRole !=='vendor'">
              <nz-form-label class="required">Department</nz-form-label>
              <nz-form-control class="create" nzErrorTip="Please Select Department">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Department"
                  formControlName="department_id">
                  <nz-option *ngFor="let d of departments" nzValue="{{ d.department_id }}"
                    nzLabel="{{ d.department_name }}">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12">
              <nz-form-label class="required">User Role</nz-form-label>
              <nz-form-control class="create" nzErrorTip="Please Select Role">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Role" formControlName="role" (ngModelChange)="onChangeRole($event)">
                  <nz-option nzValue="admin" nzLabel="Admin"></nz-option>
                  <nz-option nzValue="user" nzLabel="User"></nz-option>
                  <nz-option nzValue="vendor" nzLabel="Vendor"></nz-option>
                  <nz-option nzValue="super_admin" nzLabel="Super Admin"></nz-option>
                  <nz-option nzValue="super_user" nzLabel="Super User"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12">
              <nz-form-label class="required">Status</nz-form-label>
              <nz-form-control class="create" nzErrorTip="Please Select Status">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Status" formControlName="status">
                  <nz-option nzValue="active" nzLabel="Active"></nz-option>
                  <nz-option nzValue="inactive" nzLabel="InActive"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="24">
              <nz-form-label style="margin-bottom: none" class="required">Address</nz-form-label>
              <nz-form-control [nzErrorTip]="addressErrorTip" class="address">
                <nz-input-group nzPrefixIcon="home">
                  <input type="text" nz-input formControlName="address" placeholder="Address" />
                  <ng-template #addressErrorTip let-control>
                    <ng-container *ngIf="control.hasError('required')">Please enter address</ng-container>
                    <ng-container *ngIf="control.hasError('minlength')">please enter atleast 5 characters<br /></ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">Maxlength exceeded<br /></ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">Please enter valid Address</ng-container>
                  </ng-template>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12">
              <nz-form-label class="required">City</nz-form-label>
              <nz-form-control class="create" nzErrorTip="Please Select City">
                <nz-select formControlName="city" nzShowSearch nzAllowClear nzPlaceHolder="Select a Department">
                  <nz-option nzValue="1" nzLabel="City 1"></nz-option>
                  <nz-option nzValue="2" nzLabel="City 2"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12">
              <nz-form-label class="required">District</nz-form-label>
              <nz-form-control class="create" nzErrorTip="Please Select District">
                <nz-select formControlName="district" nzShowSearch nzAllowClear nzPlaceHolder="Select a Department">
                  <nz-option nzValue="1" nzLabel="District 1"></nz-option>
                  <nz-option nzValue="2" nzLabel="District 2"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </div>
    </ng-container>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onCreateSubmit()">
        Create
      </button>
      <button nz-button *ngIf="!submit && updateBtnDisable" nzType="primary" (click)="onUpdateSubmit()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>